:host::ng-deep {
  .ingredient-form {
    padding: 0.2rem !important;
    border: 2px solid #ccc;
    border-radius: 10px;
  }

  .icon-overlay .p-overlay {
    left: auto !important;
    right: 0px !important;
  }
}
