<div class="flex align-items-center justify-content-center">
  <p-fileUpload #fileUploader mode="basic" accept="image/*" [multiple]="true" [customUpload]="true" [fileLimit]="10"
    [maxFileSize]="10000000" (uploadHandler)="onImageUpload($event)" [auto]="true" chooseLabel="Upload"
    [uploadIcon]="'pi-upload'">
  </p-fileUpload>

  <span class="bold-text mx-4">OR</span>

  <div>
    <p-button (click)="showDialog()">
      <i class="pi pi-camera mr-1"></i>
      Take a picture
    </p-button>
  </div>
</div>

@if (imagesSrc.length > 0) {
<div class="mt-3">
  <app-image-carrousel [editingControls]="true">
  </app-image-carrousel>
</div>
}

<p-dialog [(visible)]="dialogVisible" [modal]="true">
  <webcam [imageQuality]="1" [videoOptions]="videoOptions" [trigger]="triggerObservable"
    (imageCapture)="handleImage($event)" (initError)="handleInitError($event)">
  </webcam>

  <p-button (click)="capture()">
    <i class="pi pi-camera mr-1"></i>
  </p-button>
</p-dialog>
