:host::ng-deep {

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 28%;
    margin-right: 28%;

    >* {
      width: 100%;
    }
  }

  #recipe-info {
    justify-content: space-evenly;
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    .container {
      margin: 0%;

      >* {
        width: 100%;
      }
    }

    .recipe-image {
      margin-top: 0rem;
      height: 240px;
    }
  }
}
