<div class="card main-content">
  <span class="p-fluid">
    <p-autoComplete [(ngModel)]="searchParam" [suggestions]="suggestedRecipes" [showClear]="true" field="name"
      [placeholder]="'Search for a recipe...'" (completeMethod)="searchRecipe($event)" (onSelect)="showRecipes($event)"
      (onClear)="resetRecipes()">
    </p-autoComplete>
  </span>
  <p-dataView [value]="filteredRecipes" [layout]="'grid'" [rows]="10" [paginator]="true" [sortField]="'name'" [sortOrder]="1">
    <ng-template let-recipe pTemplate="grid" let-filteredRecipes>
      <div class="grid">
        @for(recipe of filteredRecipes; track recipe.id) {
        <app-recipe-card [recipe]="recipe" class="col-12 md:col-6"></app-recipe-card>
        }
      </div>
    </ng-template>
  </p-dataView>

</div>
