:host::ng-deep {

  .recipe-box {
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }

  .gradient-overlay {
    border-radius: 15px;
    content: '';
    position: relative;
    top: 30%;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000d2);
    z-index: 1;
  }

  .recipe-box:hover {
    filter: contrast(0.9) brightness(1.2) saturate(1.1);
  }

  #recipe-title {
    position: absolute;
    bottom: 5%;
    left: 2.5%;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  #recipe-time {
    position: absolute;
    bottom: 5%;
    right: 2.5%;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-size: 1.5rem;
    text-align: right;

    .pi {
      font-size: 1.3rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .gradient-overlay {
      top: 30%;
      height: 70%;
    }

    #recipe-title {
      font-size: 1.5rem;
    }

    #recipe-time {
      color: white;
      font-size: 1rem;

      .pi {
        font-size: 0.9rem;
      }
    }
  }
}
